{% extends 'b_form.html'%}

{% block formcontent %}
<div class="container" style="text-align:center">
	<div style="font-size:50px;font-family: 'Lilita One', Verdana, Arial;">
		<span style='color:#F16745'>O'</span>
		<span style='color:#FFC65D'>Range</span>
	</div>

	<div style="display:inline-block;margin-top:20px">
	<div class="card" style="width: 18rem;">
  		<div class="card-body" style="text-align:left">
    			<h5 class="card-title">Sign In</h5>
			<form action = '' method = 'post' novalidate>
                	{{ form.hidden_tag() }}
                	<p>
                        {{ form.username.label }}<br>
                        {{ form.username(style="width:100%") }}<br>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                	</p>
                	<p>
                        {{ form.password.label }}<br>
                        {{ form.password(style="width:100%") }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                	</p>
                	<p>{{ form.submit(class="btn btn-primary btn-lg btn-block") }}</p>
			{% with messages = get_flashed_messages() %}
        		{% if messages %}
            		{% for message in messages %}
            		<div class="alert alert-info" role="alert">{{ message }}</div>
            		{% endfor %}
        		{% endif %}
        		{% endwith %}

        		</form>
  		</div>
	</div>
  		<div class="card-body">
			 New user? <a href="{{ url_for('register') }}">Click here to regist</a>
  		</div>
</div>
{% endblock %}
