{% extends "base_w.html" %}

{% block content %}
        <div style='text-align:center'>
		<div style='font-family:arial;font-size:25px;width:85%;display:inline-block;'>
			<div style='width:500px;margin:5%;float:left'>	
                                <img style='width:100%' src='static/Pictures/jay.jpg'>

                        </div>

			<div style="margin:5%;float:left;width:500px;">
				<div style='margin-top:20%'>
					<form action='' method='post'>
						{{ form.hidden_tag() }}
						{{ form.music.label }}
						{{ form.music }}
						{{ form.submit() }}
					</form>
				</div>
				<div style="margin-top:20%;">
					<audio src="static/Musics/{{ music }}.mp3" controls="controls" style='height:30px;width:100%;'>
                        		        Your browser does not support the audio element.
					</audio>
				</div>
			</div>


		</div>
        </div>
{% endblock %}

