{% extends"b_article.html" %}
{% block artcontent %}

<div style='color:red;margin:0'>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</div>

<div style="width:100%">
	<h1 style="margin-top:80px">Edit Blog</h1>
<div style="text-align:left;width:80%;display:inline-block;margin-top:50px">
	<form method="post" action="">
		{{ form.hidden_tag() }}
		<div class="form-group">
		{{ form.title.label }}
                {{ form.title(class="form-control")}}
		</div>
		<br>
		<div class="form-group">
			{{ form.body.label }}
                	{{ form.body(class="form-control",rows="15") }}
		</div>
		{{ form.submit(class="btn btn-primary") }}
	</form>
</div>
</div>

{% endblock%}

